*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #EFEFEF;
}
/* menu start */
.main-menu{
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 20px 160px;
}
.phudu{
    display: flex;
    gap: 16px;
    align-items: center;
}
.phudu-img img{

}
.phudu-content h4{
    font-size: 32px;
    font-weight: 800;
    color: #0F0F0F;
}
.menu{

}
.menu ul{
    display: flex;
    gap: 48px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: rgba(15, 15, 15, 0.70);
    font-size: 18px;
    font-weight: 500;
}
.menu-btn{

}
.menu-btn a{
    text-decoration: none;
    background: #176AE5;
    border-radius: 99px;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}
.menu-btn a:hover{
    background: #FFF;
    color: #176AE5;
    border: 1px solid rgba(23, 106, 229, 0.20);
}
/* menu end */
/* banner start */
.banner{
    padding: 64px 130px;
    border-radius: 24px;
    border: 3px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 12px;
}
.dependable{
    text-align: center;
    margin-bottom: 24px;
}
.dependable h2{
    color: #0F0F0F;
    font-size: 48px;
    font-weight: 800;
}
.dependable p{
    color: #0F0F0F;
    font-size: 16px;
    font-weight: 500;
}
.btn{
   display: flex;
   gap: 16px;
   align-items: center;
   justify-content: center;
   margin-bottom: 24px;
}
.input{
    text-align: center;
}
.input input{
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 18px;
    width: 600px;
    border: none;
    border-radius:24px;
}
.input input:focus{
    outline: none;
}
.search-now{

}
.search-now a{
    text-decoration: none;
    background: #176AE5;
    border-radius: 99px;
    padding: 13px 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}
.search-now a:hover{
    background: #FFF;
    color: #176AE5;
    border: 1px solid rgba(23, 106, 229, 0.20);
}
.banner-img{
    display: flex;
    justify-content: center;
    gap: 24px;   
}
.img1{
    width: 50%;
}
.img1 img{
    width: 100%;
}
/* banner end */
/* section start */
section{
   margin-top: 80px;
   margin-left: 160px;
   margin-right: 160px;
}
.best{
   text-align: center;
   margin-bottom: 32px;
}
.best h3{
    color: #0F0F0F;
   font-size: 40px;
   font-weight: 800;
   margin-bottom: 16px;
}
.best p{
   color: #0F0F0F;
   font-size: 16px;
   font-weight: 400;
}
.Doctor{
    display: flex;
    justify-content: center;
}
.Main-Doctor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.doctor-box1{
    padding: 32px;
    border-radius: 16px;
    background: #FFF;
}
.doctor-box1 img{
    margin-bottom: 16px;
}
.doctor-box1 h4{
    color: #0F0F0F;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
}
.doctor-box1 p{
    color: rgba(15, 15, 15, 0.60);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
hr{
    margin-bottom: 16px;
}
.details{

}
.details a{  
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #176AE5;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #176AE5;
    background: #FFF;
    border-radius: 99px;
    text-align: center;
    transition: 0.3s;
}
.details a:hover{
    background: #176AE5;
    color: white;
}
.doc-btn{
    gap: 10px;
    margin-bottom: 16px;
}
.doc-btn .avaliable{
    border-radius: 99px;
    background: rgba(9, 152, 47, 0.10);
    padding: 7px 14px;
    color: #09982F;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid rgba(9, 152, 47, 0.20);
}
.doc-btn .experience{
    border-radius: 99px;
    border: 1px solid rgba(23, 106, 229, 0.20);
    background:rgba(23, 106, 229, 0.10) ;
    padding: 7px 14px;
    color: #176AE5;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.reg{
    display: flex;
    gap: 12px;
    align-items: center;
}
.reg img{
    
}
.reg p{
    color: rgba(15, 15, 15, 0.70);
    font-size: 18px;
    font-weight: 500;
}
.View{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 80px;
}
.View a{
    text-decoration: none;
    color: #FFF;
    background: #176AE5;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 99px;
    transition: 0.3s;
}
.View a:hover{
    background: #FFF;
    color: #176AE5;
    border: 1px solid rgba(23, 106, 229, 0.20);
}
/* medical start */
.medical{
    text-align: center;
    margin-bottom: 32px;
}
.medical h3{
    color: #0F0F0F;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}
.medical p{
    color: #0F0F0F;
    font-size: 16px;
    font-weight: 400;
}
.service{
   display: flex;
   justify-content: space-around;
   gap: 24px;
}
.box1{
   background: #FFF;
   border-radius: 16px;
   padding: 40px 50px;
}
.box1 img{
   margin-bottom: 16px;
}
.box1 h5{
    margin-bottom: 12px;
    color: #0F0F0F;
    font-size: 64px;
    font-weight: 800;
}
.box1 p{
    color: rgba(15, 15, 15, 0.60);
    font-size: 24px;
    font-weight: 600;
}
/* medical end */
/* section end */
/* footer start */
footer{
  text-align: center;
  margin-top: 80px;
  background: #FFF;
  padding: 80px 100px;
}
.footer-container{

}
.btn{
     display: flex;
     text-align: center;
     gap: 48px;
     margin-top: 32px;
     margin-bottom: 32px;
}
.home a{
    text-align: center;
    text-decoration: none;
    color: rgba(15, 15, 15, 0.70);
    font-size: 18px;
    font-weight: 500;
}
.f-hr{
    width: 1000px; 
    margin: auto;   
}
.brand-img{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
}
.f-img{
    text-align: center;
}
.f-img img{

}
/* footer end */